
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
*.log

*.sqlite
dist-electron/
client/test-results/
server/data.sqlite
server/reqspace-local.sqlite

.env

release/
