NODE_ENV=development
PORT=3000
MONGO_URI=mongodb://localhost:27017/postman-web
JWT_SECRET=change_me_in_production_very_long_secret_key
JWT_TTL_DAYS=7
JWT_REFRESH_HOURS=24
CLIENT_DIST_PATH=../client/dist
